html,
body {
  margin: 0px;
  padding: 0px;
  outline: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  font-family: "Amazon Ember", Arial, sans-serif;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  line-height: 19px;
}

img {
  height: 31px;
  width: 103px;
}

.label-text {
  font-size: 13px;
}

button {
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  cursor: pointer;
  color: #111;
  border-radius: 3px;
  width: 200px;
  height: 29px;
}
