@font-face {
  font-family: "ember-webfont";
  src: url("./fonts/Fonts/ember-webfont.woff") format("woff");
}

html,
body {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: "ember-webfont";
  font-size: 13px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  line-height: 19px;
}

.logo {
  height: 31px;
  width: 103px;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-container {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 7px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 14px;
  padding-top: 14px;
}

h1 {
  margin-top: 0px;
  margin-left: 8px;
  padding-top: 5px;
  font-family: "ember-webfont";
  text-rendering: optimizeLegibility;
  font-size: 28px;
  padding-bottom: 2px;
  font-weight: 400;
}

label {
  margin-left: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #111111;
  line-height: 19px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 7px;
}

input {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 13.33px;
  height: 23px;
  width: 292px;
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  cursor: text;
  text-rendering: optimizeLegibility !important;
}

/* changes color when selected */

input:focus {
  border: 1px solid #ff9900;
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
  outline: 0;
}

/* assign alertInput for when user doesn't enter input correctly */

.alertInput {
  border-color: #c40000;
  box-shadow: 0 0 0 3px rgba(221, 0, 0, 0.1) inset;
}

/* text output under input if any fields produce errors */

.alertText {
  text-align: left;
  margin-bottom: 3px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 15px;
  color: #c40000;
}

.alertText::before {
  content: "!";
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
}

/* Text under password will not be replaced with red exclamation and password text */

.displayNone {
  display: none;
}

button {
  margin: auto;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 17px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  cursor: pointer;
  color: #111;
  width: 310px;
  height: 29px;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}
button:hover {
  background: linear-gradient(to bottom, #f7dfa5, #ecb21e);
}

button:active {
  background-color: #ed9220;
  border-color: #ca7c1b #be751a #be751a;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
  outline: 0;
}

button ~ p {
  padding-left: 15px !important;
}

/* .passwordColor refers to the text info text under the password input */

.passwordColor,
p.passwordColor {
  color: #2b2b2b !important;
  margin-bottom: 3px !important;
  margin-top: 2px;
}

div.form-container p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #111;
}

div.form-container p:last-child {
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 14px;
}
/* blue text since links aren't real :) */
span {
  font-size: 13px;
  color: #0066c0;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}

.sm-font {
  font-size: 11px;
}

img.hr1 {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

img.iFont {
  margin-left: 15px;
  margin-right: 5px;
  padding: 0px;
  width: 8px;
  height: 13px;
}

footer {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 15px;
  font-size: 11px !important;
  color: #555;
}

footer + span {
  margin-right: 15px;
}

.copyright {
  color: #555;
  margin-top: -5px;
}
