@font-face {
  font-family: "amazon_emberregular";
  src: url("ember-webfont.woff2") format("woff2"),
    url("ember-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "amazon_emberbold";
  src: url("emberbold-webfont.woff2") format("woff2"),
    url("emberbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
